{% extends "layouts/layout.njk" %}

{% block content %}
<div class="post">
  <div class="post-header">
    <img class="post-featured-image" src="{{ image }}"/>
    <div class="post-title">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="post-contents">
    {{ contents | safe }}
  </div>
</div>
{% endblock %}